.App {
  text-align: center;
  
}
@font-face {
  font-family: 'CharisSIL';
  src: url('./fonts/CharisSIL-Bold.ttf') format('ttf'),
       url('./fonts/CharisSIL-BoldItalic.ttf') format('tff'),
       url('./fonts/CharisSIL-Italic.ttf') format('tff'),
       url('./fonts/CharisSIL-Regular.ttf') format('tff');
  /* Add other font properties if needed */
}

:root{
  --primary: rgba(255, 127, 92, 0.8);
  --pimaryFade: rgba(255, 127, 92, 0.44);
  --hover:#e2f2ff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.diva {
  width: 40%;
  overflow: hidden;
  z-index: 0;
  }
  
  .divb {
    overflow: hidden;
  width: 60%;
  }
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.sentences{
  background-color: #f5f5f5;
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: var(--zoomLeft);
  font-family: "CharisSIL";

}

.wrapperButtonAlign{
  border-radius: 16px;
  border: 2px solid #000;
  background: #F5F5F5;
  width: fit-content;
}
.wrapperButtonAlign:hover{
  background: var(--hover);
}
.layoutButtonAlign{
  display: inline-flex;
  padding: 6px 12px;
  align-items: center;
  gap: 7px;
}
.staticText{
  font-family: "CharisSIL";
  font-size: 2em; 
  font-weight: 500;

} 


.sentences[data-isSelected = "true"]{
  border-radius: 4px;
  width: "fit-content";
  z-index: 1;
}


.sentencesWrapper[data-hasBeenDone = "true"]{
  background-color: #b9f3bd;
}
.sentencesWrapper[data-isSelected = "true"]{
  background-color: var(--primary)
}
.sentencesWrapper[data-isSelected = "false"]:hover{
  background-color: #e2f2ff
}
.sentencesWrapper[data-isCurrentSentenceAlignAndChunck = "true"][data-hasBeenDone = "false"]{
  background-color: #FFCD1B;

}
.sentencesWrapper{
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius:4px;
  width: fit-content;
  z-index: 1;
  
}

.Word {
  border-radius: 4px;
  padding: 5px; /* Added 'px' unit */
  margin: 0px; /* Added 'px' unit */
  font-family: "CharisSIL";

}
.notUsedWord{
  font-family: "CharisSIL";
  padding-top: 5px; /* Added 'px' unit */
  padding-right: 5px;

}
.notUsedWord::selection{
  background: rgba(255, 255, 0, 0);
}
.Word::selection{
  background: rgba(255, 255, 0, 0);
}
.Word[data-selected="false"]:hover{
  background-color: var(--pimaryFade)
}
.Word[data-selected="false"][data-notCLicable ="true"]:hover{
  background-color: rgba(176, 176, 176, 0.5);
}

.Word[data-ctrl="true"]:hover {
  background-color: var(--primary)
}

.Word[data-notCLicable ="true"][data-notSelectedBuHover = "true"]{
  background-color: #e2f2ff}

.Word[data-selected="true"]{
  background-color: var(--primary)

}


.Word[data-notCLicable ="true"]{
  background-color: rgba(176, 176, 176, 0.5);

}

.Button{
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius:4px;
  width: fit-content;
  border-width: 1;
  border-style: solid;
  font-size: 2em;

}
.Button:hover{
  border-color: #50a0e181;
}

.image {
  transition: opacity 0.3s ease-in-out; /* Use opacity for smoother transitions */
  opacity: 1; /* Initially visible */
}

.imageWrapper {
  width: 1290px;
  transition: width 0.3s ease-in-out; /* Adjust transition properties */
  overflow: hidden; /* Ensure the overflow is hidden */
}

.imageWrapper[data-isClosed='false'] {
  width: 0;
  overflow: hidden; /* Hide the overflow when closed */
}

.image[data-isClosed='false'] {
  opacity: 0; /* Hide the image when closed */
}

.image2{
  align-self: "flex-end";
  margin-top: 16;
  margin-right: 16;
}


